body{
	/*background-color: #35363a;*/
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8) ), url('/image/background4.jpg');
}

a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}


/************ header **************/
.title{
	font-family: 'Luckiest Guy', cursive;
	font-size: 65px;
	color: #ffffff;
}

.google-search{
	/* 가운데 정렬 */
	width: 500px;
	margin: 50px auto;
	margin-top: 90px;
	text-align: center;
} .fa-search{
	color: white;
}

/* 네이버 실시간 style */
.hackerone-box{
	height:185px;
	margin-bottom: 100px;
} .hackerone-box > h4{
	color: rgb(223, 223, 223);
	text-shadow: 2px 2px 2px black;
}
.hackerone{
	display: inline-block;
	margin-right: 20px;
} .hackerone > tbody >tr{
	background-color: rgba( 0, 0, 0, 0.3 );
	height: 35px;
} .ranking{
	text-align: center;
	color: #656565;
	width: 30px;
} .ranking-value{
	width: 180px;
	color: white;
}

.menu-list{
	margin-top: 20px;
} .menu{
	color: rgb(223, 223, 223);
	font-size: 20px;
	margin-left: 30px;
} .menu > a {
	text-shadow: 2px 2px 2px black;
}.todo-list-box{
	background-color: rgba( 0, 0, 0, 0.3 );
	padding: 15px 20px 15px 20px;
	width: 550px;
	height: 300px;
	overflow: auto;
} input[name="todo-list-date"]{
	width: 150px;
} input[name="todo"]{
	width: 300px;
} input[name="todo-list-date"], input[name="todo"]{
	background-color: #212121;
	color: #ADADAD;
	border-radius: 10px;
}

.kisa{
	margin-top: 80px;
	margin-bottom: 50px;
}
/************** naver end *************/
/************** header end *************/


/* content */
.col > h4 , .col > h4 > a, .menu-on, h4{
	display: inline-block;
	color: rgb(223, 223, 223);
	text-shadow: 2px 2px 2px black;
}
.col > h4 > .menu-off{
	color: rgb(152 152 152);
	text-shadow: 2px 2px 2px black;
}

.news-card{
	width: 170px;
	min-height: 200px;
	background-color: rgba( 0, 0, 0, 0.3 );
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
} .news-thumbnail > img {
	width: 170px;
} .news-title{
	padding: 10px;
	font-size: 13px;
	color: white;
} .news-date{
	padding: 10px;
	font-size: 13px;
	color: #656565;
} 

.news-card-btn{
	display: inline-block;
	font-size: 18px;
	color: white;
	float: right;
}

.changwon_data{
	color: white;
} .changwon-date, .changwon-title{
	text-shadow: 2px 2px 2px black;
} .changwon-date{
	color:  #a0a0a0;
} .changwon-notice-place{
	width: 20px;
}
.btn_red{
	background-color: #d9534f;
	border-color: #d9534f;
    margin: 0;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 8px;
}

.btn_orange{
	background-color: #ff7f00;
	border-color: #ff7f00;
    margin: 0;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 8px;
}

.btn_yellow{
	background-color: #ffc107;
	border-color: #ffc107;
    margin: 0;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 8px;
}

.btn_green{
	background-color: #28a745;
	border-color: #28a745;
    margin: 0;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 8px;
}



/**************/